.DS_Store
*.db
*.db-journal
*.db-wal
*.db-shm
*.html
user-edit.css
chatrooms/rooms/*
!chatrooms/rooms/default
chatloghtml/zip/*.zip
characterhtml/html/css/*.css
characterhtml/zip/*.zip
characterhtml/img/*.png
characterhtml/img/*.jpg
characterhtml/img/*.gif
characterhtml/img/*.webp
systemlog/*.log
letterinboxhtml/html/css/*.css
letterinboxhtml/html/*.html
letterinboxhtml/zip/*.zip
letteroutboxhtml/html/css/*.css
letteroutboxhtml/html/*.html
letteroutboxhtml/zip/*.zip
