.DS_Store
*.db
*.db-journal
*.db-wal
*.db-shm
*.html
user-edit.css
chatrooms/rooms/*
!chatrooms/rooms/default
logstorage/logzip/*.zip
characterhtml/html/css/*.css
characterhtml/html/*.html
characterhtml/zip/*.zip
