@charset "utf-8";
/* レスポンシブデザイン対応のCSS。
 * 主に基本デザインのため、このCSSを編集するのはおすすめしません。
 */

.menu-button {
  display: none;
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  /* ***************************************************************************
   * TOPページ
   * ***************************************************************************
   */
  .menu-button {
    display: block;
  }
  .index-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .index-menu {
    display: none;
  }
  .index-footer {
    display: flex;
    flex-direction: column;
  }
  .index-frame-wrap {
    margin: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .menu-title {
    display: block;
    width: auto;
    height: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .menu-item-group {
    display: block;
  }
  .menu-item {
    display: block;
  }
  .index-title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
  .index-copyright {
    margin: 0 auto 0;
    font-size: 0.5rem;
    opacity: 0.5;
    padding: 1rem;
  }
  .news-row {
    display: flex;
    flex-direction: column;
  }
  .news-col-item:nth-child(2),
  #id-characters-contents .news-col-item:nth-child(3),
  #id-letters-contents .news-col-item:nth-child(3),
  #id-letters-contents .news-col-item:nth-child(4),
  #id-myletters-contents .news-col-item:nth-child(3),
  #id-myletters-contents .news-col-item:nth-child(4) {
    width: 100%;
  }

  .view-row {
    display: flex;
    flex-direction: column;
  }


  /* ***************************************************************************
   * チャットルーム
   * ***************************************************************************
   */
  /* TOP */
  #id-roomtop-content-wrap {
    display: grid;
    grid-template-rows: 2rem 1fr 1fr;
  }
  .chatconfig-wrap {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
  .chatconfig-title {
    font-size: 1rem;
  }
  .chatconfig-guide {
    font-size: 0.8rem;
    height: auto;
  }
  .roomenter-form .form-row {
    display: flex;
    flex-direction: column;
  }
  /* チャットルーム */
  #id-roomchat-content-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #id-roomtop-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: auto;
  }
  .chat-form-wrap {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: visible;
    padding: 1rem;
  }
  .random-wrap {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    overflow: visible;
    margin: 0 0 1rem 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .chatroom-frame-wrap {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    overflow: visible;
  }
  #id-chat-form .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #id-chat-form .form-col-title,
  #id-chat-form .form-col-title:not(:first-child) {
    width: 7rem;
    min-width: 7rem;
    margin: 0.5rem 0;
    font-weight: bold;
  }
  #id-chat-form textarea[name="message"] ,
  #id-chat-form input[name="memo"] {
    width: calc(100vw - 3rem);
    box-sizing: border-box;
  }
  #id-reload-form .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #id-reload-form .form-col-title,
  #id-reload-form .form-col-title:not(:first-child) {
    width: 7rem;
    min-width: 7rem;
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .chat-button-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

}
