@charset "utf-8";
/* テンプレート1
 */

/* ****************************************************************************
 * 基礎
 * ****************************************************************************
 */
body {
  background-color: #f0eceb;
  color: #030608;
}

select,
div.select-wrap,
textarea,
input[type="file"],
input[type="password"],
input[type="text"] {
  width: 100%;
}

/* インラインフレーム */
iframe {
  border: solid #3e463b 3px;
}

/* リスト */
ul, li {
  list-style-type: none;
}

/* リンク */
a {
  color: #293442;
}

/* ボタン */
button.warning {
  background-color: #8b0000;
  color: #ffffff;
}

/* ボタンの背景同色化 */
button.transparent-button {
  background-image: unset;
  background-origin: unset;
  border: unset;
  box-shadow: unset;
  background-color: inherit;
  border-radius: unset;
  padding: 0.25em 0;
}

/* 引用 */
blockquote {
  position: relative;
  border-left: 6px solid #3e463b;
  font-size: 0.9em;
  padding: 1.5em 1em 1em 1em;
}
blockquote:before{
  display: inline-block;
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  content: "“";
  color: #3e463b;
  font-size: 2em;
}

/* コード */
code {
  font-size: 0.8em;
}
div.code-wrap {
  border-left: 6px solid #3e463b;
  background-color: #e4e0dd;
  padding: 1em;
  margin-bottom: 0.2em;
}
div.file-wrap {
  font-weight: bold;
}

/* ****************************************************************************
 * サイト配置
 * グリッドレイアウト使用
 * ****************************************************************************
 */
div.index-wrap {
  display: grid;
  grid-template-columns: 1fr 17em;
  grid-template-rows: 8em 1fr 8em;
  margin: 2em 4em;
}
header.index-header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.index-menu {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
footer.index-footer {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
div.index-frame-wrap {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  margin: 0 4em 0 0;
  height: 90vh;
}
div.index-footer-menu {
  font-size: 0.6em;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
}
div.index-footer-menu>a {
  display: inline-block;
  margin-right: 2em;
}
div.index-copyright {
  font-size: 0.5em;
  opacity: 0.5;
}

/* ****************************************************************************
 * レスポンシブデザイン用
 * ****************************************************************************
 */
button.menu-button {
  border-radius: 0;
  border: solid #3e463b 3px;
  background-color: #3e463b;
  color: #e3e2dc;
  font-weight: bold;
}

/* ****************************************************************************
 * メッセージ
 * ****************************************************************************
 */
div.mes-wrap {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

/* エラーメッセージ */
div.err-mes, li.err-mes {
  font-weight: bold;
  color: #8b0000;
}

/* 情報メッセージ */
div.success-mes,
li.success-mes {
  font-weight: bold;
  color: #61694d;
}

/* ****************************************************************************
 * index デザイン
 * ****************************************************************************
 */
h1.index-title {
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  background-color: transparent;
}
h1.index-title>a {
  text-decoration: none;
  letter-spacing: 0.05em;
  color: transparent;
  -webkit-text-stroke: 0.03em rgba(0,0,0,1);
}
div.index-login {
  font-size: 0.8em;
  opacity: 0.5;
}
div.index-warning-wrap {
  margin-top: 3em;
  font-size: 0.9em;
}

/* ****************************************************************************
 * ページデザイン
 * ****************************************************************************
 */
div.content-wrap {
  margin: 0;
  padding: 2em;
}

/* ****************************************************************************
 * 案内
 * ****************************************************************************
 */
div.note-wrap {
  margin: 0;
}
p.note {
  margin: 1em 0;
}

/* ****************************************************************************
 * 見出し
 * ****************************************************************************
 */
h1 {
  font-size: 150%;
  padding: 0.5rem;
  margin: 0;
  background-color: #3e463b;
  color: #e3e2dc;
}
h2 {
  font-size: 120%;
  padding: 0.5rem;
  margin: 0;
  background-color: #3e463b;
  color: #e3e2dc;
}
h3 {
  font-size: 100%;
  padding: 0.5rem;
  margin: 0;
  background-color: #3e463b;
  color: #e3e2dc;
}
h4 {
  font-weight: bold;
  font-size: 100%;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid #495062;
  border-radius: 1em;
}
h4.inbox-title,
h4.outbox-title,
h4.taghtml-title {
  margin-top: 2em;
}

/* ****************************************************************************
 * メニュー
 * ****************************************************************************
 */
nav.menu {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}
h2.menu-title {
  width: 5em;
  height: 5em;
  border-bottom: none;
  padding: 2em 0.5em;
  background-color: #3e463b;
  color: #e3e2dc;
  border-radius: 1em;
  font-size: 1em;
  cursor: pointer;
  overflow: hidden;
}
h2.menu-title::first-letter {
  font-size: 200%;
}
ul.menu-item-group {
  margin: 0 2em;
}
li.menu-item {
  list-style-type: disc;
}

/* ****************************************************************************
 * フォーム
 * ****************************************************************************
 */
div.form-wrap {
  display: flex;
  justify-content: center;
}
form {
  width: 100%;
  background-color: #e4e0dd;
  margin: 1em 0;
  padding: 2em;
  border-radius: 1em;
}
ul.form-row {
  margin: 1em 0;
}
li.form-col-title {
  font-weight: bold;
  margin-bottom: 2px;
}
li.form-col-note {
  font-size: 0.8em;
  opacity: 0.6;
}
textarea[name="detail"] {
  height: 20em;
}
li.form-col-item>label {
  margin: 0 0.3rem;
}
div.page-button-wrap,
div.form-button-wrap {
  display: flex;
  justify-content: space-around;
}
div.page-button-wrap>button,
div.form-button-wrap>button {
  margin: 1em 1em;
}
form.hidden-form {
  display: none;
}
div.form-col-item-group {
  display: flex;
  align-items: flex-start;
}
div.form-col-item-group>div.preview {
  padding: 0.5em;
}

/* ****************************************************************************
 * 検索フォーム
 * ****************************************************************************
 */
div.search-wrap {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
form.search-form {
  background-color: #c4c3c4;
  padding: 0.5em;
  margin: 0;
  border-radius: 1em;
  border-top: 1px solid #495062;
  border-bottom: 1px solid #495062;
}
div.search-key-wrap {
  display: flex;
  flex-wrap: wrap;
}
ul.search-row {
  display: flex;
  margin: 0.2em;
}
li.search-col-title {
  width: 7em;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  background-color: #495062;
  color: #d4d6d5;
  border: 1px solid #495062;
}
li.search-col-item>input{
  width: 10em;
  font-size: 0.8em;
  border-radius: 0;
  padding: 0.2em;
  border: 1px solid #495062;
}
div.search-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.search-button-wrap>button {
  font-size: 0.8em;
  margin: 0 1em;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

/* ****************************************************************************
 * 強調文字
 * ****************************************************************************
 */
span.point {
  font-weight: bold;
  color: #8b0000;
}

/* ****************************************************************************
 * ページング
 * ****************************************************************************
 */
div.paging-wrap {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 1em;
}
ul.paging-group {
  display: flex;
}
ul.paging-group>li:not(:first-child) {
  margin-left: 1em;
}
li.paging-current, li.paging-current>a {
  color: #8b0000;
}

/* ページング合計件数 */
div.sumpaging-wrap {
  display: flex;
  font-size: 0.8em;
}
ul.sumpaging-group {
  display: flex;
  flex-direction: row;
}
ul.sumpaging-group>li:nth-child(4) {
  margin-left: 1em;
}

/* ****************************************************************************
 * テーブル
 * ****************************************************************************
 */
div.table-wrap {
  padding: 0;
  margin: 0;
  overflow: auto;
}
table, th, td {
  border-collapse: collapse;
  margin: 1em 0;
}
table {
  width: 100%;
  table-layout: fixed; /* ellipsis に必須 */
}
th {
  padding: 0.5em;
  font-weight: bold;
  background-color: #3e463b;
  color: #e4e0dd;
  text-align: left;
}
tr:nth-child(2n) {
  background-color: #eeebec;
}
tr:nth-child(2n+1) {
  background-color: #e4e0dd;
}
td {
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
td.center {
  text-align: center;
}
th.cell-action { min-width: 10em; width: 10em;}
th.cell-id { min-width: 6em; width: 6em; }
th.cell-userid { min-width: 7em; width: 7em; }
th.cell-username { min-width: 10em; width: 10em; }
th.cell-created { min-width: 12em; width: 12em; }
th.cell-modified { min-width: 12em; width: 12em; }
th.cell-fullname { min-width: 20em; width: 20em; }
th.cell-color { min-width: 7em; width: 7em; }
th.cell-bgcolor { min-width: 7em; width: 7em; }
th.cell-gender { min-width: 6em; width: 6em; }
th.cell-species { min-width: 10em; width: 10em; }
th.cell-team { min-width: 16em; width: 16em; }
th.cell-job { min-width: 16em; width: 16em; }
th.cell-free1 { min-width: 14em; width: 14em; }
th.cell-free2 { min-width: 14em; width: 14em; }
th.cell-free3 { min-width: 14em; width: 14em; }
th.cell-free4 { min-width: 14em; width: 14em; }
th.cell-free5 { min-width: 14em; width: 14em; }
th.cell-free6 { min-width: 14em; width: 14em; }
th.cell-free7 { min-width: 14em; width: 14em; }
th.cell-free8 { min-width: 14em; width: 14em; }
th.cell-free9 { min-width: 14em; width: 14em; }
th.cell-comment { min-width: 20em; width: 20em; }
th.cell-url { min-width: 4em; width: 4em; }
th.cell-link { min-width: 4em; width: 4em; }
th.cell-roomdir { min-width: 10em; width: 10em; }
th.cell-roomtitle { min-width: 10em; width: 10em; }
th.cell-published { min-width: 10em; width: 10em; }
th.cell-displayno { min-width: 10em; width: 10em; }
th.cell-roomlink { min-width: 5em; width: 5em; }
th.cell-dl { min-width: 4em; width: 4em; }
th.cell-letter { min-width: 4em; width: 4em; }
th.cell-title { min-width: 40em; width: 40em; }
th.cell-articlenum { min-width: 4em; width: 4em; }
th.cell-tagrole { min-width: 4em; width: 4em; }
th.cell-taghtml { min-width: 4em; width: 4em; }
th.cell-taglook { min-width: 4em; width: 4em; }
th.cell-tagexample { min-width: 20em; width: 20em; }
th.cell-status { min-width: 6em; width: 6em; }

/* お知らせ */
div.infomation-table-wrap th {
  background-color: #dcdcd9;
  color: #647c8c;
}

/* ユーザー管理 */
div.user-table-wrap th {
  background-color: #dc995e;
  color: #e4dccc;
}

/* 名簿一覧 */
div.namelist-table-wrap th {
  background-color: #c9ced0;
  color: #495062;
}
div.my-namelist-table-wrap th {
  background-color: #647c8c;
  color: #e3e3e4;
}

/* 受信箱 */
div.my-inbox-table-wrap th {
  background-color: #61694d;
  color: #e1ece1;
}
div.public-inbox-table-wrap th {
  background-color: #bccc9c;
  color: #61694d;
}

/* 送信箱 */
div.my-outbox-table-wrap th {
  background-color: #86854c;
  color: #e1ece1;
}

/* 掲示板 */
div.bbs-table-wrap th {
  background-color: #c4c3c4;
  color: #392c1f;
}

/* ログリスト */
div.loglist-table-wrap th {
  background-color: #bccc9c;
  color: #61694d;
}

/* 発言編集 */
div.logedit-table-wrap th {
  background-color: #ded2c2;
  color: #392c1f;
}

/* チャットルーム一覧 */
div.adminroom-table-wrap th {
  background-color: #e9dfe5;
  color: #392c1f;
}

/* ****************************************************************************
 * ビュー
 * ****************************************************************************
 */
div.view-wrap {
  width: 100%;
  padding: 0;
  margin: 0;
}
div.view-contents {
  margin: 0.5em auto;
}
ul.view-row {
  display: flex;
  padding: 0;
  background-color: #eaebec;
  border: solid #746c74 1px;
  border-top: none;
}
ul.view-row:first-child {
  border-top: solid #746c74 1px;
}
li.view-col-title,
li.view-col-title-only {
  font-weight: bold;
  padding: 0.5em;
  background-color: #746c74;
  color: #e3e2dc;
}
li.view-col-title {
  width: 10em;
}
li.view-col-item {
  padding: 0.5em;
}
ul.view-free10-row,
ul.view-free11-row,
ul.view-free12-row,
ul.view-detail-row,
ul.view-message-row {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  border: solid #746c74 1px;
}
li.view-detail-title,
li.view-message-title {
  width: 100%;
}
li.view-free10-item,
li.view-free11-item,
li.view-free12-item,
li.view-detail-item,
li.view-message-item {
  padding: 1em;
}

/* お知らせ */
div.infomation-view-wrap ul.view-row,
div.infomation-view-wrap li.view-col-title,
div.infomation-view-wrap li.view-col-item,
div.infomation-view-wrap li.view-col-title-only
{
  margin: 0;
  padding: 0;
  border: unset;
  background-color: unset;
  color: unset;
}
div.infomation-view-wrap div.view-contents {
  margin: 0.5em;
  padding: 0;
}
div.infomation-view-wrap li.view-col-title-only {
  font-size: 1.5em;
  width: 100%;
  border-bottom: solid 2px #3e463b;
}
div.infomation-view-wrap ul.view-row {
  padding: 0.3em 0;
}
div.infomation-view-wrap ul.view-created-row {
  font-size: 0.8em;
}
div.infomation-view-wrap li.view-detail-item {
  padding: 1em 0;
}
div.infomation-view-wrap li.view-col-title {
  width: 4em;
}

/* 私書 */
div.letters-view-wrap ul.view-row,
div.letters-view-wrap li.view-col-title,
div.letters-view-wrap li.view-col-item,
div.letters-view-wrap li.view-col-title-only
{
  margin: 0;
  padding: 0;
  border: unset;
  background-color: unset;
  color: unset;
}
div.letters-view-wrap div.view-contents {
  background-color: #f8f8ff;
  border-radius: 0.3em;
  padding: 2em;
  border: solid #746c74 1px;
}
div.letters-view-wrap li.view-col-title-only {
  font-size: 1.5em;
}
div.letters-view-wrap ul.view-row {
  margin: 0.5em 0;
  padding: 0.3em 0;
}
div.letters-view-wrap ul.view-row:nth-child(1),
div.letters-view-wrap ul.view-row:nth-child(2),
div.letters-view-wrap ul.view-row:nth-child(3) {
  border-bottom: dotted #746c74 1px;
}
div.letters-view-wrap li.view-message-title {
  padding: 1em 0 0 0;
  width: 100%;
}
div.letters-view-wrap li.view-message-item {
  padding: 1em 0;
  width: 100%;
}

/* ****************************************************************************
 * ページを戻る
 * ****************************************************************************
 */
div.page-back-wrap {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
div.page-back-wrap>button:active,
div.page-back-wrap>button:hover,
div.page-back-wrap>button {
  margin: 0 1em;
  padding: 1em;
  background-color: #3e463b;
  color: #e3e2dc;
  background-image: unset;
  background-origin: unset;
  border: unset;
  border-radius: 10em;
  box-shadow: unset;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  filter: none;
}

/* ****************************************************************************
 * 過去ログ一覧
 * ****************************************************************************
 */
ul#chat-entries {
  display: flex;
}
ul#chat-entries li.entries-item {
  margin-right: 0.5em;
  border-radius: 0.2em;
}

/* ****************************************************************************
 * 私書アイコン
 * ****************************************************************************
 */
div.letter-icon {
  background-color: #000000;
  color: #000000;
  position: relative;
  width: 24px;
  height: 16px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
div.letter-icon:before,
div.letter-icon:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
div.letter-icon:before {
  border: 12px solid transparent;
  border-top-color: #ffffff;
}
div.letter-icon:after {
  left: 2px;
  border: 10px solid transparent;
  border-top-color: #000000;
}

/* ****************************************************************************
 * BBS
 * ****************************************************************************
 */
/* BBS 新規投稿メニュー */
li.bbs-menu-item {
  font-size: 1em;
}

div.bbs-parent-wrap ul.view-row,
div.bbs-parent-wrap li.view-col-title,
div.bbs-parent-wrap li.view-col-item,
div.bbs-parent-wrap li.view-col-title-only,
div.bbs-child-wrap ul.view-row,
div.bbs-child-wrap li.view-col-title,
div.bbs-child-wrap li.view-col-item,
div.bbs-child-wrap li.view-col-title-only
{
  margin: 0;
  padding: 0;
  border: unset;
  background-color: unset;
  color: unset;
}
div.bbs-parent-wrap li.view-col-title,
div.bbs-child-wrap li.view-col-title {
  width: 5em;
}
div.bbs-parent-wrap,
div.bbs-child-wrap {
  margin: 0;
  padding: 0;
}
div.bbs-parent-wrap div.view-contents {
  padding: 1em;
  background-color: #f8f8ff;
  border: solid #9aa0a8 1px;
}
div.bbs-child-wrap div.view-contents {
  padding: 1em;
  background-color: #f8f8ff;
  border: solid #9aa0a8 1px;
}
div.bbs-parent-wrap ul.view-action-row,
div.bbs-child-wrap ul.view-action-row {
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}
div.bbs-parent-wrap ul.view-action-row > li.view-col-item,
div.bbs-child-wrap ul.view-action-row > li.view-col-item {
  margin: 0 0 0 2em;
}
div.bbs-parent-wrap ul.view-message-row,
div.bbs-child-wrap ul.view-message-row {
  margin: 1em 0;
}
div.bbs-parent-wrap li.view-message-title,
div.bbs-child-wrap li.view-message-title {
  width: 100%;
  margin-bottom: 0.2em;
}

/* ****************************************************************************
 * ニュース
 * ****************************************************************************
 */
div.news-contents {
  margin: 0.5em;
  font-size: 0.9em;
}
ul.news-row {
  display: flex;
  margin: 0.5em 0 0 0;
}
li.news-col-item {
  border-bottom: 1px dotted #030608;
  margin: 0.2em 0.5em;
  padding: 0.3em;
}
li.news-col-item:nth-child(1) {
  border: none;
  width: 3rem;
  min-width: 3rem;
  text-align: right;
}
li.news-col-item:nth-child(2) {
  width: 7em;
  min-width: 7em;
}

div.news-contents-area0 li.news-col-item:nth-child(1) {
  background-color: #969283;
}
div.news-contents-area1 li.news-col-item:nth-child(1) {
  background-color: #61694d;
}
div.news-contents-area2 li.news-col-item:nth-child(1) {
  background-color: #86854c;
}
div.news-contents-area3 li.news-col-item:nth-child(1) {
  background-color: #7e5c3e;
}
div.news-contents-area4 li.news-col-item:nth-child(1) {
  background-color: #544737;
}
div.news-contents-area5 li.news-col-item:nth-child(1) {
  background-color: #293442;
}
div.news-contents-area6 li.news-col-item:nth-child(1) {
  background-color: #495062;
}
div.news-contents-area7 li.news-col-item:nth-child(1) {
  background-color: #9aa0a8;
}
div.news-contents-area8 li.news-col-item:nth-child(1) {
  background-color: #746c74;
}
div.news-contents-area9 li.news-col-item:nth-child(1) {
  background-color: #647c8c;
}

/* お知らせ */
#id-infomation-contents li.news-col-item:nth-child(3){
  width: 100%;
  margin-right: 2em;
}

/* 名簿 */
#id-characters-contents li.news-col-item:nth-child(3){
  width: 11em;
  min-width: 11em;
}
#id-characters-contents li.news-col-item:nth-child(4){
  width: 100%;
  margin-right: 2em;
}

/* 公開私書 */
#id-letters-contents li.news-col-item:nth-child(3),
#id-letters-contents li.news-col-item:nth-child(4)
{
  width: 11em;
  min-width: 11em;
}
#id-letters-contents li.news-col-item:nth-child(5){
  width: 100%;
  margin-right: 2em;
}

/* 掲示板 */
#id-bbs-contents li.news-col-item:nth-child(3)
{
  width: 11em;
  min-width: 11em;
}
#id-bbs-contents li.news-col-item:nth-child(4){
  width: 100%;
  margin-right: 2em;
}

/* あなた宛の私書 */
#id-myletters-contents li.news-col-item:nth-child(3),
#id-myletters-contents li.news-col-item:nth-child(4)
{
  width: 11em;
  min-width: 11em;
}
#id-myletters-contents li.news-col-item:nth-child(5){
  width: 100%;
  margin-right: 2em;
}

/* あなた宛の掲示板返信 */
#id-mybbs-contents li.news-col-item:nth-child(3),
#id-mybbs-contents li.news-col-item:nth-child(4)
{
  width: 11em;
  min-width: 11em;
}
#id-mybbs-contents li.news-col-item:nth-child(5){
  width: 100%;
  margin-right: 2em;
}

/* チャットルーム */
#id-chatroom-contents {
  margin: 1em;
}
#id-chatroom-contents li.news-col-item {
  border: none;
}

/* ****************************************************************************
 * チャットルーム参加者
 * ニュースと同じHTMLを使用しているためリセットする
 * ****************************************************************************
 */
div.chatroom-wrap div.news-contents,
div.chatroom-wrap ul.news-row,
div.chatroom-wrap li.news-col-title,
div.chatroom-wrap li.news-col-item,
div.chatroom-wrap li.news-col-item-row,
div.chatroom-wrap li.news-col-item-row-item
{
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
  width: unset;
}
div.chatroom-wrap div.news-contents {
  margin: 1em 0;
}
div.chatroom-wrap ul.news-row {
  display: flex;
}
div.chatroom-wrap ul.news-col-item-row {
  display: flex;
}
div.chatroom-wrap li.news-col-title {
  font-weight: bold;
  margin: 0.2em;
}
div.chatroom-wrap li.news-col-item {
  margin: 0.2em;
}
div.chatroom-wrap li.news-col-item-row-item {
  font-size: 0.8em;
  padding: 0.2em;
  margin: 0 0.5em 0 0;
}
div.chatroom-wrap ul.news-row:nth-child(1) {
  border-bottom: 1px solid;
}

/* ****************************************************************************
 * マニュアル
 * ****************************************************************************
 */
div.manual-wrap {
  margin: 4em 0;
}
div.manual-menu-wrap {
  margin: 2em 0;
}
